@import url("https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");

:root {
  --color-bg: #f8f5f2;
  --color-primary: #1f3d3b;
  --color-accent: #e8a87c;
  --color-secondary-accent: #a3b18a;

  --font-heading: "Faustina", serif;
  --font-body: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-body);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: var(--font-body);
  cursor: pointer;
  border: none;
  outline: none;
}
